@page
@model LibraryWeb.Pages.InventoryModel
@{
    ViewData["Title"] = "LIBRARY MANAGER-INVENTORY";
}

<style>
.collapsible {
background-color: #266af2;
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapsible:hover {
background-color: #0d3890;
}

.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}
</style>

<div>
<form method="post">
<label for="gsearch">Search Book:</label>
<input asp-for="searchquery" type="text" id="gsearch">
<button type="submit">Search</button>
</form>
</div>

<div class="text-center" style="height: 200px; overflow-y: scroll;">
    @foreach(var book in Model.BookList){
    <button type="button" class="collapsible">@book.book_title</button>
    <div class="content">
    <p>@book.Id @book.book_title @book.book_author @book.status</p>
    </div>
    }
</div>

<br>
<div>
<form method="post">
<label for="daysnum">Number of days to borrow:</label>
<input asp-for="num_days" type="number" id="daysnum"><br>
<label for="borrowerid">Borrower ID:</label>
<input asp-for="borrower_id" type="number" id="borrowerid"><br>
<label for="bookid">Book ID:</label>
<input asp-for="book_id" type="number" id="bookid"><br><br>
<button type="submit">Allocate Book</button>
</form>
</div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
    content.style.display = "none";
    } else {
    content.style.display = "block";
    }
});
}
</script>